.btn:hover{
    transform: scale(1.2);
    transition: 0.15s all ease-in-out;
}

.btn{
    margin-left: 35px;
    width: 150px;
}

label{
    font-weight: bold;
}

input{
    border: solid gray 1px;
}